table.props {
	width: 100%;
	line-height: 1.4em;
	border-collapse: collapse;
}
table.props th, table.props td {
	font-size: 10pt;
	padding: 0 0.2em 0 0.2em;
	margin: 0 0 0 0;
	vertical-align: top;
}
table.props th {
	font-weight: bold;
	text-align: right;
	padding-right: 1.5em;
}
table.props td {
}
.comment {
	font-size: 10pt;
	font-family: monospace;
	border: solid 1px #777777;
	background-color: #f9f9f9;
	padding: 1em;
	line-height: 1.1em;
	margin-bottom: 1em;
	/*white-space: pre;*/
}
td.tstatus {
	color: red;
}
tr.descrow td, tr.descrow th {
	padding-top: 2em;
}
